$color: (body: #fff, footer:  #21232e);
$backgroundColorGradient1: #679709;
$backgroundColorGradient2: #2f5dcf;
$fontFamily: 'Hind';
$generalFontFamily: 'Source Sans Pro';
$TextDecoration: #14a0c7;
$backgroundImage: url(../img/m-h-day.jpg); 
