$color: (body: #21232e, footer:  #3b3f50);
$backgroundColorGradient1: #dea405;
$backgroundColorGradient2: #96334e;
$fontFamily: 'Fresca';
$generalFontFamily: 'Source Sans Pro';
$TextDecoration: #ff4e33;
$backgroundImage: url(../img/m-h-night.jpg);